@CHARSET "UTF-8";

.dessert_list_buy{
	clear:both;
}

.dessert_list_buy img{
	width:85px;
	height:85px;
}

table{
	width:100%;
}

td{
	text-align: center;
}

.dessert_order{
	margin-top:30px;
	float:right;
}

tr input{
	text-align: center;
}

.one_total{
	
}